g.lines line {
    stroke-width: 2;
    stroke: steelblue;
}
g.lines circle {
    r: 5;
    fill: none;
    pointer-events: all; /* for hover to work with fill:none */
}
g.lines circle:hover {
    fill: gray;
}

g.fans g.string {
    pointer-events: none;
}

g.fans g.hover {
    stroke-width: 5;
    stroke: none;
    pointer-events: all;
}
/*g.fans g.hover:hover {
    stroke-width: 2;
    stroke: rgb(0, 102, 0);
}*/

/*div {
    border: 1px solid black;
}*/

svg {
    cursor: default;
}