/* svg */
g#lines line {
    stroke-width: 0;
    stroke: black;
}
g#lines line.selected {
    stroke-width: 2;
    stroke: lightgrey;
    marker-end: url("#arrowhead");
}
.arrowhead {
    fill: lightgrey;
}

g#circles circle {
    r: 7;
    fill: none;
    pointer-events: all; /* for hover to work with fill:none */
}
g#circles circle:hover {
    fill: gray;
}

g#fans g.string {
    pointer-events: none;
}
g#fans g.hover {
    stroke-width: 5;
    stroke: none;
    pointer-events: all;
}
/*g#fans g.hover:hover {
    stroke-width: 2;
    stroke: rgb(0, 102, 0);
}*/


/* html */
.toolbar {
    position: absolute;
    height: 34px;
    left: 240px;
    right: 0px;
}
.non-toolbar {
    position: absolute;
    top: 34px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.sidebar {
    position: absolute;
    height: 100%;
    left: 0px;
    width: 240px;
    padding-left: 5px;
}
input[type="number"] {
    width: 60px;
}

.svg-container {
    position: absolute;
    height: 100%;
    left: 240px;
    right: 0px;
    /* for the scrollbars */
    overflow: auto;
}
svg {
    cursor: default;
    background-color: #222;
    margin-bottom: -5px; /* removes mysterious whitespace above scrollbar */
}
